@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #332c2c;
}

.header,
.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
}

.header {
  height: 10%;
}

.logo {
  width: 150px;
  height: 70px;
  background-image: url('../assets/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 100px;
  gap: 80px;
  list-style: none;
}

.nav-link {
  font-family: sans-serif;
  font-weight: 100;
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  color: #9dbd00;
  cursor: pointer;
}

.nav-link:active {
  color: #4B9200;
}

.score-wrapper {
  display: flex;
  gap: 10px;
}

.main {
  width: 100%;
  height: 83%;
  display: flex;
  justify-content: space-around;
  background: rgb(255,223,153);
  background: linear-gradient(145deg, rgba(255,223,153,1) 0%, rgba(255,207,182,1) 42%, rgba(255,190,190,1) 69%, rgba(255,162,190,1) 100%);
}

.play-button {
  width: 100%;
  height: 100px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  border: 5px solid #9dbd00;
  border-radius: 20px;
  color: #9dbd00;
  font-size: 32px;
  cursor: pointer;
  transition: 0.3s;
}

.play-button:hover {
  transform: scale(1.02);
}

.play-button:active {
  transform: scale(1);
}

.game-section {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  flex-direction: column;
  align-items: center;
}

.levels-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
  overflow: hidden;
}

.levels-form {
  display: flex;
  width: 100%;
  height: 100%;
}

.level-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.667%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #9dbd00;
  cursor: pointer;
  transition: 0.3s;
}

.level-input,
.answer-input {
  display: none;
}

.question-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 22%;
  margin-bottom: 20px;
  padding: 20px 50px;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
}

.question-bird-image {
  width: 110px;
  height: 110px;
  margin-right: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.question-bird-name {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #d0d0d0;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.block-wrapper {
  display: flex;
  width: 100%;
  height: 55%;
  gap: 20px;
}

.answers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
  overflow: hidden;
}

.answers-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.6px;
  width: 100%;
  height: 100%;
}

.answer-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 14px;
  text-align: center;
  background-color: rgb(255,253,245);
  background-image: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  cursor: pointer;
  transition: 0.3s;
}

.dot {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: rgb(208, 208, 208);
  transition: 0.3s;
}

.bird-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
}

.bird-info-wrapper {
  display: flex;
  width: 100%;
  height: 60%;
}

.bird-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.bird-name-wrapper {
  display: flex;
  flex-direction: column;
  width: 64%;
  height: 100%;
  padding: 20px;
}

.bird-name,
.bird-latin-name {
  height: 30px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.bird-latin-name {
  font-size: 14px;
}

.bird-description {
  width: 100%;
  height: 40%;
  color: #332c2c;
}

.bird-audio {
  width: 260px;
  height: 30px;
}

.next-level-button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #d0d0d0;
  transition: 0.3s;
}

.active {
  cursor: pointer;
  background-color: #9dbd00;
}
.active:hover {
  background-color: #b7d428;
}

.gallery-section {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: none;
}

.bird-types-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 50%;
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.bird-type-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #9dbd00;
  cursor: pointer;
  transition: 0.3s;
}

.bird-type-input {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: 30% 30% 30%; 
  grid-template-rows: 50% 50%; 
  gap: 15px 15px; 
  gap: 20px;
  width: 70%;
  height: 90%;
}

.bird-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.bird-card:hover {
  transform: scale(1.03);
}

.bird-card > .bird-name,
.bird-card > .bird-latin-name {
  height: 20px;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

.bird-card > .bird-audio {
  width: 200px;
}

.bird-card-active {
  width: 70%;
  height: 78%;
  align-items: flex-start;
  padding: 30px;
  position: absolute;
  transition: 0.3s;
  z-index: 100;
  transition: 0.2s;
}

.bird-card-active > .bird-image {
  position: absolute;
}

.bird-card-active > .bird-name,
.bird-card-active > .bird-latin-name,
.bird-card-active > .bird-audio {
  margin-bottom: 10px;
  margin-left: 180px;
}

.bird-card-active > .bird-description {
  margin-top: 50px;
}

.results-section {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  margin: 50px 100px;
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
}

.result {
  font-size: 18px;
}

.footer {
  height: 7%;
  justify-content: space-around;
}

.footer__data,
.footer-link {
  color: #332c2c;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  transition: 0.2s;
}

.footer-link:hover {
  transform: translateY(-3px);
}


