@import "normalize.css";

@font-face {
  font-family: 'Nunito';
  src: url("../assets/fonts/Nunito-Regular.ttf");
 }

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #332c2c;
}

.header,
.footer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
}

.header {
  height: 10%;
}

.logo {
  width: 150px;
  height: 70px;
  background-image: url('../assets/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 100px;
  gap: 80px;
  list-style: none;
}

.nav-link {
  font-family: sans-serif;
  font-weight: 100;
  text-decoration: none;
  transition: 0.2s;
}

.nav-link:hover {
  color: #9dbd00;
  cursor: pointer;
}

.nav-link:active {
  color: #4B9200;
}

.header-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.score-wrapper {
  display: flex;
  gap: 10px;
}

.language-form {
  display: flex;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.language-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #9dbd00;
  cursor: pointer;
  transition: 0.3s;
}

.main {
  width: 100%;
  height: 83%;
  display: flex;
  justify-content: space-around;
  background: rgb(255,223,153);
  background: linear-gradient(145deg, rgb(238, 203, 233) 0%, rgb(238, 198, 216) 30%, rgba(255,190,190,1) 69%, rgb(255, 159, 188) 100%);
  position: relative;
  overflow-x: hidden;
}

.start-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px;
  font-size: 18px;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
  transition: 1s;
}

.flying-birds {
  display: none;
  position: absolute;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  transform: translateX(150%);
  background-image: url('../assets/bird-1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.fly {
  animation-name: fly;
  animation-duration: 2s;
}

@keyframes fly {
  0% {
    transform: translateX(150%);
    background-image: url('../assets/bird-1.png');
  }
  10% {
    transform: translateX(120%);
    background-image: url('../assets/bird-1.png');
  }
  20% {
    transform: translateX(90%);
    background-image: url('../assets/bird-2.png');
  }
  30% {
    transform: translateX(60%);
    background-image: url('../assets/bird-3.png');
  }
  40% {
    transform: translateX(30%);
    background-image: url('../assets/bird-4.png');
  }
  50% {
    transform: translateX(0);
    background-image: url('../assets/bird-5.png');
  }
  60% {
    transform: translateX(-30%);
    background-image: url('../assets/bird-6.png');
  }
  70% {
    transform: translateX(-60%);
    background-image: url('../assets/bird-7.png');
  }
  80% {
    transform: translateX(-90%);
    background-image: url('../assets/bird-8.png');
  }
  90% {
    transform: translateX(-120%);
    background-image: url('../assets/bird-8.png');
  }
  100% {
    transform: translateX(-150%);
    background-image: url('../assets/bird-8.png');
  }

}

.flip {
  transform: translateX(-120%);
}

.start-description {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  gap: 10px;
  text-align: center;
}

.play-button,
.restart-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #9dbd00;
  font-size: 22px;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 11px 11px 18px -8px rgba(193, 125, 161, 0.3);
  cursor: pointer;
  transition: 0.3s;
  z-index: 10;
}

.play-button:hover,
.restart-button:hover {
  background-color:#b7d428;
  transform: scale(1.03);
}

.play-button:active,
.restart-button:active {
  transform: scale(1);
}

.play-button:active .start-section {
  transform: rotate(3000deg);
}

.button-wrapper {
  position: relative;
  margin-top: 40px;
}

.leaf-image {
  position: absolute;
  width: 20px;
  height: 100px;
  transition: 0.3s;
  z-index: 0;
}

.leaf-image:nth-of-type(1),
.leaf-image:nth-of-type(2) {
  top: -41px;
  left: -3px;
  transform: rotate(116deg);
}

.leaf-image:nth-of-type(3),
.leaf-image:nth-of-type(4) {
  bottom: -41px;
  right: 4px;
  transform: rotate(-61deg);
}

.button-wrapper:hover .leaf-image:nth-of-type(1) {
  transform: rotate(270deg);
}

.button-wrapper:hover .leaf-image:nth-of-type(2) {
  transform: rotate(320deg);
}

.button-wrapper:hover .leaf-image:nth-of-type(3) {
  transform: rotate(-230deg);
}

.button-wrapper:hover .leaf-image:nth-of-type(4) {
  transform: rotate(-270deg);
}

.game-section {
  display: none;
  width: 100%;
  height: 100%;
  padding: 20px 50px;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  transform: translateX(100%);
}

.levels-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
  overflow: hidden;
}

.levels-form {
  display: flex;
  width: 100%;
  height: 100%;
}

.level-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.667%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #9dbd00;
  transition: 0.3s;
}

.level-input,
.answer-input,
.language-input {
  display: none;
}

.question-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 22%;
  margin-bottom: 20px;
  padding: 20px 50px;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
}

.question-bird-image {
  width: 110px;
  height: 110px;
  margin-right: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.question-bird-name {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #d0d0d0;
}

.player-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.player {
  display: flex;
  align-items: center;
  width: 100%;
}

.time-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 67%;
  margin-right: 20px;
}

.timeline {
  display: flex;
  height: 7px;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.progress-bar {
  display: flex;
  background: #9dbd00;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  transition: 0.25s;
}

.track-time {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 14px;
}

.controls {
  display: flex;
  flex-direction: row;
}

.player-icon {
  width: 40px;
  height: 40px;
  background-size: 32px 32px;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  filter: invert(63%) sepia(14%) saturate(1273%) hue-rotate(33deg) brightness(157%) contrast(137%);
  cursor: pointer;
  transition: 0.2s;  
}

.player-icon:hover {
  transform: scale(1.05);
}

.player-icon:active {
  border: 0;
  outline: 0;  
  transform: scale(1);
}

.play {
  width: 60px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/play.svg");
}

.pause {
  background-image: url("../assets/pause.svg");
}

.volume-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mute-button {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("../assets/unmuted.png");
}

.muted {
  background-image: url("../assets/muted.png");
}

.volume {
  height: 5px;
  width: 70px;
  cursor: pointer;
  opacity: 0;
  background: rgb(255, 255, 255, 0.8);
  border-radius: 3px;
}

.volume:hover,
.timeline:hover {
  background: rgb(255, 255, 255, 1);
}

.volume-percentage {
  height: 100%;
  width: 100%;
  background: #9dbd00;
  border-radius: 3px;
}

.block-wrapper {
  display: flex;
  width: 100%;
  height: 55%;
  gap: 20px;
}

.answers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
  overflow: hidden;
}

.answers-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.6px;
  width: 100%;
  height: 100%;
}

.answer-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 14px;
  text-align: center;
  background-color: rgb(255,253,245);
  background-image: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  cursor: pointer;
  transition: 0.3s;
}

.dot {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.3s;
}

.bird-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
}

.bird-info-wrapper {
  display: flex;
  width: 100%;
  height: 60%;
}

.bird-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.bird-name-wrapper {
  display: flex;
  flex-direction: column;
  width: 64%;
  height: 100%;
  padding: 20px;
}

.bird-name,
.bird-latin-name {
  height: 30px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.bird-latin-name {
  font-size: 14px;
}

.bird-description {
  width: 100%;
  height: 40%;
  color: #332c2c;
}

.bird-audio {
  width: 260px;
  height: 30px;
}

.bird-song > .player {
  flex-wrap: wrap;
}

.bird-song > .player > .play {
  width: 40px;
  background-size: 30px 30px;
}

.bird-song > .player > .time-bar {
  margin: 0;
  width: 82%;
}

.bird-song > .player > .time-bar > .track-time {
  font-size: 12px;
  gap: 2px;
}

.bird-song > .player > .controls > .volume-controls > .mute-button {
  margin: 0;
  background-size: 15px 15px;
}

.bird-song > .player > .controls > .volume-controls > .volume {
  height: 4px;
}

.next-level-button {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #d0d0d0;
  transition: 0.3s;
}

.active {
  cursor: pointer;
  background-color: #9dbd00;
}
.active:hover {
  background-color: #b7d428;
}

.gallery-section {
  width: 100%;
  height: 100%;
  margin: 20px;
  display: none;
}

.bird-types-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 50%;
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.bird-type-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 14px;
  text-align: center;
  color: white;
  background-color: #9dbd00;
  cursor: pointer;
  transition: 0.3s;
}

.bird-type-input {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: 30% 30% 30%; 
  grid-template-rows: 50% 50%; 
  gap: 15px 15px; 
  gap: 20px;
  width: 70%;
  height: 90%;
}

.bird-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

.bird-card:hover {
  transform: scale(1.03);
}

.bird-card > .bird-image {
  width: 130px;
  height: 130px;
}

.bird-card > .bird-name,
.bird-card > .bird-latin-name {
  height: 20px;
  margin-bottom: 0px;
  padding-bottom: 2px;
}

.bird-song > .player > .bird-card-time-bar {
  width: 76%;
}

.bird-card-active {
  width: 70%;
  height: 94%;
  align-items: flex-start;
  padding: 30px;
  position: absolute;
  transition: 0.3s;
  z-index: 100;
  transition: 0.2s;
}

.bird-card-active > .bird-image {
  position: absolute;
  width: 160px;
  height: 160px;
}

.bird-card-active > .bird-name,
.bird-card-active > .bird-latin-name,
.bird-card-active > .bird-song {
  margin-bottom: 10px;
  margin-left: 180px;
}

.bird-card-active > .bird-song {
  width: 60%;
}

.bird-card-active > .bird-song > .player > .time-bar > .track-time {
  margin-right: 10px;
}

.bird-card-active > .bird-description {
  margin-top: 50px;
}

.results-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(255,253,245);
  background: linear-gradient(145deg, rgba(255,253,245,1) 0%, rgba(255,247,233,1) 39%, rgba(255,242,230,1) 70%, rgba(255,239,236,1) 100%);
  margin: 50px 100px;
  border-radius: 10px;
  box-shadow: 16px 16px 18px -8px rgba(193, 125, 161, 0.3);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.footer {
  height: 7%;
  justify-content: space-around;
}

.footer__data,
.footer-link {
  color: #332c2c;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
  transition: 0.2s;
}

.footer-link:hover {
  transform: translateY(-3px);
}


